<body>
<h1> A Database of Presidential Facts</h1>
<div><%= link_to 'Database', controller: 'presidents' %></div>



<img src = https://upload.wikimedia.org/wikipedia/commons/b/b6/Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg "George Washington"</img>
<img src = https://upload.wikimedia.org/wikipedia/commons/f/f2/Abraham_Lincoln_O-55,_1861-crop.jpg </img>
<img src = http://www.old-picture.com/american-legacy/004/pictures/President-Woodrow-Wilson-002.jpg </img>

</body>
