<h1>Listing presidents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Text</th>
  </tr>

  <% @presidents.each do |prsident| %>
    <tr>
      <td><%= president.name %></td>
      <td><%= president.text %></td>
    </tr>
  <% end %>
</table>
