<p>
  <strong>Name</strong>
  <%= @president.name %>
</p>

<p>
  <strong>Text</strong>
  <%= @president.text %>
</p>
<%= link_to 'Edit', edit_president_path(@president) %> |
<%= link_to 'Back', presidents_path %>
